<!-- Hero with Slogan -->
<div class="hero">
    <div>
        <h1 class="slogan">Let us help you find the <span id="logotext">Dish2Pass</span> this holiday season!</h1>
    </div>
</div>

<!-- How it Works -->
<div class="grid-container" id="hiw">
  <div class="grid-x grid-padding-x">
    <div class="large-12 medium-12 small-12">
      <h2 id="hiwTitle">How it Works</h2>
    </div>
    <div class="large-4 medium-4 small-12 cell" id="hiwInfo">
      <i class="fas fa-utensils" id="glyphicon"></i>
      <h6>Search for recipes based on ingredients you already have at home.</h6>
    </div>
    <div class="large-4 medium-4 small-12 cell" id="hiwInfo">
      <i class="fas fa-clipboard-list" id="glyphicon"></i>
      <h6>Find the perfect Dish2Pass recipe.</h6>
    </div>
    <div class="large-4 medium-4 small-12 cell" id="hiwInfo">
      <i class="fas fa-hand-holding-heart" id="glyphicon"></i>
      <h6>Share with friends and family!</h6>
    </div>
  </div>
</div>

<!-- About the app section (css:family eating section) -->
<div class="family">
</div>
