<!-- Navigation Bar Left-->
<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text" id="logotext">Dish2Pass</li>
    </ul>
  </div>
  
<!-- Navigation Bar Right-->
  <div class="top-bar-right">
    <ul class="menu">
      <li><input type="search" placeholder="Find Recipes!" id="searchbar"></li>
      <li><button type="button" class="button secondary" id="searchbtn"><i class="fas fa-search"></i></button></li>
      <li><button type="button" class="button warning" id="suggest"><a href="/suggestions"><span id="suggestText">Suggestions</span></a></button></li>
    </ul>
  </div>
</div>