<!-- Navigation Bar Left-->
<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text">Dish2Pass</li>
    </ul>
  </div>
<!-- Navigation Bar Right-->
  <div class="top-bar-right">
    <ul class="menu">
      <li><input type="search" placeholder="Find Recipes!"></li>
      <li><button type="button" class="button"><i class="fas fa-search"></i></button></li>
      <li><a href="suggestions.html">Suggestions</a></li>
    </ul>
  </div>
</div>

<!-- Hero with Slogan -->
<div class="hero">
    <div>
        <h1 class="slogan">Let us help you find the Dish2Pass this holiday season!</h1>
    </div>
</div>

<!-- How it Works -->
<div class="grid-container" id="hiw">
  <div class="grid-x grid-padding-x">
    <div class="large-12 medium-12 small-12">
      <h2 id="howitworks">How it Works</h2>
    </div>
    <div class="large-4 medium-4 small-12 cell" id="glyphicon">
      <i class="fas fa-utensils" id="icon"></i>
      <h6>Search for recipes based on ingredients you already have at home.</h6>
    </div>
    <div class="large-4 medium-4 small-12 cell" id="glyphicon">
      <i class="fas fa-clipboard-list" id="icon"></i>
      <h6>Find the perfect Dish2Pass recipe.</h6>
    </div>
    <div class="large-4 medium-4 small-12 cell" id="glyphicon">
      <i class="fas fa-hand-holding-heart" id="icon"></i>
      <h6>Share with friends and family!</h6>
    </div>
  </div>
</div>

<!-- About the app section (css:family eating section) -->
<div class="family">
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="large-6 medium-8 small-10">
        <div class="callout secondary">
          <ul>
            <li>In a pinch? Out of Ideas?</li>
            <li>We've got you covered!</li>
            <li>We'll help you find the perfect Dish2Pass!</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- Footer -->
<footer>
    <div>
        <p> Copyright &copy; 2020 Dish2Pass </p>
    </div>
</footer>
