{{> navbar}}

<!-- Recipe Card Grid Layout -->
<div class="grid-container">
    <div class="grid-x grid-padding-x">

{{#each recipetwos}}
        <div class="large-4 medium-6 small-12 cell">
            <div class="card" style="width: 300px;">
                <div class="card-section">

                    <!-- Recipe Title -->
                    <div class="card-divider">
                        <h4> {{this.dataValues.name}} </h4>
                    </div>

                    <!-- Image -->
                    {{#if this.dataValues.imageUrl}}
                      <img src="{{{this.dataValues.imageUrl}}}" alt=""/>
                    {{/if}}

                    <!-- Instructions -->
                    <div class="card-section">
                      {{#if this.dataValues.summary}}
                        <p>{{{this.dataValues.summary}}}</p>
                      {{/if}}
                    </div>
                </div>
            </div>
        </div>
        {{/each}}


        
{{> footer}}


<!-- JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
