{{> navbar}}

<!-- Recipe Card Grid Layout -->
<div class="grid-container">
    <div class="grid-x grid-padding-x">

        <!-- Card -->
        <div class="large-4 medium-6 small-12 cell">
            <div class="card" style="width: 300px;">
                <div class="card-section">
                    <!-- Recipe Title -->
                    <div class="card-divider">
                        <h4> {{recipeTitle}} </h4>
                    </div>
                    <!-- Image -->
                    {{recipeImage}}
                    <!-- Instructions -->
                    <div class="card-section">
                    <p>{{recipeInstructions}}</p>
                    </div>
                </div>
            </div>
        </div>


{{> footer}}