/* Navigation Bar */
#logotext {
    font-family: 'Kalam', cursive;
    font-size: 50px;
    color: rgb(222, 113, 45);
}

#searchbar {
    border-radius: 10px;
    padding: 10px;
}

#searchbtn  {
    border-radius: 30px;
    color: rgb(222, 113, 45);
}

#suggest {
    color: rgb(222, 113, 45);
    font-size: 20px;
}
/* END Navigation Bar */

/* Hero & Slogan */
.hero {
    height: 450px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("/assets/images/spoonspices.jpg");
    background-size: cover;
    background-position: center;
}

.slogan {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    padding-top: 80px;
}
/* END Hero & Slogan */


/* How It Works Section */
#hiw {
    height: 300px;
    font-family: 'Roboto', sans-serif;
}

#hiwTitle {
    text-align: center;
    color: black;
    font-size: 60px;
    font-weight: 500;
    padding: 20px;
}

#hiwInfo {
    text-align: center;
    color: black;
}

#glyphicon {
    font-size: 40px;
    color: rgb(222, 113, 45);
    padding: 15px;
}
/* END How It Works Section */

/* Family Eating Section */
.family {
    height: 700px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("/assets/images/dinnertable.jpg");
    background-size: cover;
    background-position: center;
}
#aboutapp {
    padding: 30px;
    margin-left: 100px;
    margin-top: 70px;
    
}
/* END Family Eating Section */






/* Footer */
footer {
    padding: 10px;
    height: 50px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #c7c7c7;
    color: white;
}
/* END Footer */